*{
    background-color: #0a0a0a;
    color: #e9e2e8;
    box-sizing: border-box;
    font-family: "Roberto", sans-serif;
}
.full{
    max-width: 900px;
    width: min(95%, 900px);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.titletext{
    text-decoration: none; 
    color: inherit; 
    font-size: 1.4em;    
}
.titletext:hover{
    text-decoration: none; 
    color: inherit; 
    font-size: 1.4em;    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(251 146 60);
}
button{
    all: unset;
    cursor: pointer;
}
button:hover{
    color: rgb(251 146 60);
    text-decoration: underline;
}
.top{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.navgn-bars{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    font-size: 0.91em;
}
.github{
    text-decoration: underline;
    color: rgb(251 146 60);;
}
ul{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.story-card h3,
.story-card a,
.story-card p,
.story-card div,
.story-card span,
.story-card img,
.story-card pre,
.story-card code {
    background-color: transparent !important;
}
.story-card{
    transition: background-color 0.2s ease;
    padding: 10px;
}

li:hover .story-card {
    background-color: #2c2c2c; 
    transition: background-color 0.2s ease;
}
.indiv{
    color: rgb(251 146 60);
    text-decoration: underline;
    cursor: pointer;
}
.story-meta {
    font-size: 0.9rem;
    color: #888; 
}

.meta-item {
    margin-right: 8px;
}
#each{
    transition: background-color 0.2s ease;
    padding: 10px;
}
#each div,
#each a,
#each span {
    background-color: transparent !important;
}
#each:hover{
    background-color: #2c2c2c; 
    transition: background-color 0.2s ease;
}
.pagination-controls{
    display: flex;
    color: #cc3333;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding-bottom: 20px;
    font-weight: 600;
    gap: 10px;
}
#page-info{
    font-size: 2.125rem;
    line-height: 1.75rem;
}
.butt{
    background-color: #000000;
    color: #e9e2e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .375rem;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
}
.butt:hover{
    text-decoration: none;
}
#upv {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 3px;
    color: #e9e2e8;
}
.posts-text *{
    background-color: transparent !important;
}
.posts-text pre {
    background: #e1dada;
    padding: 12px;
    border-radius: 6px;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: break-word;

    margin: 12px 0;
}

.posts-text code {
    font-family: Consolas, Monaco, monospace;
    font-size: 0.95rem;
    background: #f3e8e8;
}